*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  display: block;
  width: 100%;
}

.navbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid aqua;
    padding: 20px;
    z-index: 1000; 
    
}

.collapse{
    margin-left: 360px;
    
}

.nav-link{
    color: #081f89;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
}
 
 

.nav-text{
    display: flex;
    gap: 25px;
    color: blue;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 0px;
    padding: 0px;
}

.sqi_logo{
    width: 65px;
    height: 65px;
    margin-left: 80px;
    margin-bottom: 10px;
}


.socials{
    position: fixed;
    display: block;
    top: 180px; 
    left: 0px;
    height: 120px;
    width: 50px;
    background-color: blueviolet;
}

.whatsapp{
    display: flex;
    position: fixed;  
    gap: 10px;
    top: 500px;
    left: 20px;
}

.whatsapp_logo{
    height: 60px;
    width: 60px;
}

.wa-box{
    height: 60px;
    width: 150px;
    background-color: antiquewhite;
}


.body {
    margin-top: 60px; 
    padding: 20px;
    margin-left: 50px; 
    margin-right: 50px;
}

.welcome_page{
   justify-content: space-between;
   margin-top: 100px;
}

.welcome_text{
    font-size: 64px;
    line-height: 70.4px;
    font-weight: bolder;
    font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
    font-size: larger;
    
    
}


.start_button{
    background-color: #13208a;
    height: 55px;
    width: 130px;
    border-radius: 15px;
    border: 0;
    color: #f2fcff;
}

.welcome_screen{
    display: flex;
    justify-content: space-between;

}

.picture{
    height: 340px;
    width: 320px;
}

.picture_container{
    display: flex;
    gap: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
    justify-content: center;
}

.second_page h1{
    margin-top: 50px;
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    color: #081f89;
    margin-left: -100px;
}


.courses{
    display: block;
    line-height: 30px;
    margin: 10px;
    color: #6a6466;
}

.course_container{
    display: flex;
    text-align: left;
    align-content: flex-start;
    padding: 2px;
    gap: 50px;

    
}

.special_text{
    font-weight: bolder;
}

.course_text{
    text-decoration: underline blueviolet ;
    line-height: 3;
    text-underline-offset: 8px;
}

.course_text span:first-of-type{
    font-weight: bolder;
}

.soft_img{
    height: 200px;
    width: 200;
    border-radius: 20px;
}

.software_eng{
    height: 900px;
    width: 450px;
    padding: 40px 40px;
    background-color: #d4eaf2;
    border-radius: 20px;
    margin: 20px;
}

.ui_ux{
    height: 900px;
    width: 450px;
    padding: 40px 40px;
    background-color: #e0d5c0;
    border-radius: 20px;
    margin: 20px;
}

.ui_img{
    height: 200px;
    width: 350px;
    border-radius: 20px;
}

.top_courses{
    font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
    
    color: #333333;
    font-style: normal;
    margin-top: 100px;
    line-height: 15px;
}

.top_courses_container{
    display: flex;
    margin-bottom: 180px;
}

.logos{
    margin-top: 50px;
    scale: 80%;
}

.logo_container_main{
    display: flex;
}

.tour_page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: darkblue;
    margin-left: 0px;
    margin-right: 0px;
    color: #d4eaf2;
    
}

.yt_vid{
    border-radius: 15px;
    width: 340px;
    height: 190px;
    margin: 50px;
}

.tour_text{
    display: block;
    margin: 40px;
}

.apply_but{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    margin: 30px;
    border: 0;
    background-color: #13208a;
    color: #d4eaf2;
}

.testimonials{
    margin: 20px;
}

.testi_text{
    margin: 30px;
}

.reviews-container{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 30px;
}

.review-nox{
    background-color: #f9f9f9;
    border: 1px aqua solid;
}

.btn-close{
    height: 100%;
}

.review{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.review_rest{
    height: 200px;
    width: 600px;
}

.why_study{
    display: flex;
    margin: 30px;
}

.why_h2{
    margin-left: 60px;
}

.why_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.fa-solid{
    width: 40px;
    height: 40px;
    scale: 200%;
}

.why_image{
    height: 1100px;
    width: 300px;
    filter: blur(1px);
}

.FAQ{
    background-color: #0a0326;
    width: 100%;
    display: flex;
}

.faq_first{
    margin: 30px;
    padding: 50px;
}

.accordion{
    
    width: 70%;
    padding: 50px;
    border: none;

}

.faq-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: left;
    color: #fff
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.faq-button:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 0;
    background-color: #fff
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.accordion-item {
    background-color: #0a0326; /* Change background of accordion item */
    border: none;
    margin-bottom: 10px;
    color: #fff; /* Ensure text is white */
}

.accordion-body {
    background-color: #0a0326; /* Match the body background */
    color: #fff;
    padding-left: 10px;
}


.faq-button:focus {
    outline: none;
}

.accordion-body {
    padding-left: 10px;
}

.news-head{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.news-cont{
    width: 250px;
    height: 500px;
    padding: 20px;
    background-color: #d4eaf2;
    gap: 50px;
    margin: 30px;
}

.news-main{
    display: flex;
}

.foots{
    display: flex;
    flex-direction: column;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 450px) {
    .nav{
        display: flex;
        position: fixed;
        scale: 140%;
        width: 200%;
        padding-left: 40px;
    }

    .sqi_logo{
        width: 30px;
        height: 10px;
        scale: 10%;
    }

    .nav-text{
        display: none;
    }

    .welcome_screen{
        display: block;
    }

    .welcome_page{
        font-size: xx-large;
    }

    

    .course_container{
        display: block;
    }    

    .picture_container{
        display: block;
    }

    .picture_container span {
            display: flex;
            font-weight: bolder;
    }

    .socials{
        display: none;
    }

    .whatsapp{
        display: flex;
        position: fixed;  
        gap: 10px;
        top: 2000px;
        left: 20px;
    }
}